section.about

  img.about__profilePicture(src='static/img/jacopo_square.jpg', alt='Jacopo Daeli')

  h1.about__name
    | Jacopo Daeli

  p.about__text
    | I am #[em Computer Scientist], #[em Software Engineer] and #[em Hacker] passionate about web technologies with a vocation for writing beautiful and clean code. 
    | I develop with #[em Node.js], #[em Go], #[em C/C++], #[em React] and #[em Redux] for the web. 

  ul.about__list
    li
      a(href=env.MEDIUM, target='_new') Medium
    li
      a(href=env.TWITTER, target='_new') Twitter
    li
      a(href=env.GITHUB, target='_new') GitHub
    li
      a(href=env.LINKEDIN, target='_new') LinkedIn
    li
      a(href=env.INSTAGRAM, target='_new') Instagram
